@import url('./__input-description/form-card__input-description.css');
@import url('./__input/form-card__input.css');
@import url('./text-error/text-error.css');
@import url('./__button/form-card__button.css');
@import url('./__button-align/form-card__button-align.css');


.form-card{
    display: flex;
    flex-direction: column;

}



@media (max-width: 600px) {
 .form-card{
     width: 98%;
 }
}
