@import url('./_margin/modal__content_margin.css');
@import url('./_padding/modal__content_padding.css');

.modal__content {
    box-sizing: border-box;
    width: 700px;
    min-height: 182px;
    background-color: #fff;
    border-radius: 16px;
    position: absolute;
    top: 100px;
    z-index: 3;
}

@media screen and (max-width: 600px) {
    .modal__content {
        width: 100%;
        top: 10px;
        overflow-y: auto;
    }
}

@media screen and (max-width: 1024px){
    .modal__content {
        height: calc(100vh - 60px);
        bottom: 0;
        top: 0px;
        overflow-y: auto;
        border-radius: 16px 16px 0 0 ;
    }
}
