.select {
    border-radius: 14px;
    margin: 0px 50px 0 0;
    height: max-content;
    color: #3f4261;
    appearance: none;
    align-self: center;
    background-color: #d4cfd9 ;

}


.select:hover,
.select:focus,
.select__language:hover,
.select__language:focus{
    outline: none;
}


.select__language {
    text-align: center;
    border-radius: 50%;
    appearance: none;
    padding: 1px;
    width: max-content;
    font-size: 1.1em;
    color: #3f4261;
    border: #3f4261 solid 2px;
    background-color: #d4cfd9 ;
    font-weight: 900;

}


@media (max-width: 600px) {
    .select {
        margin: 0px 10px 0 0;
    }
    .select__language {
        font-size: 0.8em;
    }

}
