.select {
    border-radius: 14px;
    margin: 10px;
    height: max-content;
    color: #3f4261;
    appearance: none;
    align-self: center;
    background-color: #cccfd9;
}


.select:hover,
.select:focus,
.select__language:hover,
.select__language:focus{
    outline: none;
}


.select__language {
    border-radius: 100px;
    appearance: none;
    padding:2px;
    width: max-content;
    font-size: 1.2em;
    color: #3f4261;
    border: #3f4261 solid 2px;
    background-color: #eaebdd ;

}


@media (max-width: 600px) {
    .select__language {
        font-size: 0.8em;
    }

}
