@import url('./_margin/popup__input-description_margin.css');

.form-card__input-description{
    font-family: Inter, sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #3f4261;
}


.form-card__input-description.required:after
{
    color: #3f4261;
    content: "*";
}
