@import url('./_is-opened/modal_is-opened.css');
@import url('./__close/modal__close.css');
@import url('./__content/modal__content.css');

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    overflow-y: auto;
}

@media screen and (max-width: 700px) {
    .modal{
        padding-top: 0px;

    }
}

@media screen and (max-width: 1024px){
    .modal {
    }
}
