.painting__button {
    width: 50%;
    margin: auto;
    font-family: MyFont, Arial, sans-serif;
    font-size: 18px;
    border-radius: 16px;
    background-color: #cccccc;

}


.painting__button:focus {
    outline: none;
}
