.navbar__card {
    position: relative;
    align-self: center;
    color: #3f4261;
    margin-right: 25px;


}


.navbar__card:hover {
    cursor: pointer;
}


.navbar__card-number {
    position: absolute;
    padding: 0px 3px;
    border: #3f4261 solid 1px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    color: #3f4261;
    margin-top: 16px;
    margin-left: -7px;
}

@media (max-width: 600px) {
    .navbar__card {


    }

    .navbar__card-number {
        font-size: 12px;
    }


}


@media (max-width: 1024px) {
    .fa-shopping-cart.navbar__card {
    }


}
