.navbar__card{
    align-self: center;
    color: #3f4261;
    margin-right: 25px;
}


.navbar__card:hover{
    cursor: pointer;
}


@media (max-width: 600px) {
    .fa-shopping-cart.navbar__card {
       display: none;
    }



}


@media (max-width: 1024px) {
    .fa-shopping-cart.navbar__card {
        display: none;
    }



}
