.navbar__card{
    align-self: center;
    color: #3f4261;
    margin-right: 25px;

}


.navbar__card:hover{
    cursor: pointer;
}


.navbar__card-number{
    margin-left: -10px;
    padding: 2px 4px 2px  1px;
    border:  #3f4261 solid 1px;
    border-radius: 150px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    color: #3f4261;

}

@media (max-width: 600px) {
    .fa-shopping-cart.navbar__card {
       display: none;
    }



}


@media (max-width: 1024px) {
    .fa-shopping-cart.navbar__card {
        display: none;
    }



}
