.navbar-shop{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-left: 150px;
    position: relative;
    height: 100%;
}


@media (max-width: 600px) {
    .navbar-shop {
        padding-left: 0px;
        padding-right: 0px;
    }

}


@media (max-width: 1224px) {
    .navbar-shop {
        padding-left: 0px;
        padding-right: 0px;
    }

}
